@{
    Layout = "~/_TOOLayout.cshtml";
    Page.Title = "Contact Us";
}


<section class="content">
    <h2>Questions?</h2>
    <p>
        If you have any questions, please contact us at <a href="mailto:info@tasteoforthodoxy.org?subject=Re:Taste Of Orthodoxy">info@tasteoforthodoxy.org</a>
    </p>
    
</section>

