@{
    Layout = "~/_TOOLayout.cshtml";
    Page.Title = "Home";
}


<section class="content">
    <br/>
    <div style="text-align: center">
    <h2 title="Welcome!">Καλώς όρισες!</h2>
    </div>
    <p>Our Church is made up of diverse Orthodox traditions, from Greece, Romania, Serbia, Lebanon, Palestine, Russia, and the Ukraine. This unique event gives our neighbors in the community a chance to experience the tastes and sounds, dance, and religion.&nbsp; We invite you visit our festival, enjoy the food, the music, and the culture.</p>
    <ul>
        <li>Great Food, Beer &amp; Wine</li>
        <li>Live Music with <a href="http://www.jessemanno.com" target="_blank">Jesse Manno and friends</a></li>
        <li>Ethnic Dancing</li>
        <li>Church Tours</li>
        <li>Byzantine Choir Singing</li>
        <li>Books, Icons &amp; Gifts</li>
        <li>Free Parking &amp; Admission</li>
        <li>Jumping Castles and face painting!</li>
    </ul>
    <div class="box">
        <div class="highlighttext">
            Again this year, the festival will start at 11:00am on Friday.
            <br />
            We'll be serving a limited lunch menu of Gyros, Chicken Souvlaki, and Lamb sandwiches, all served with a Greek salad and seasoned fries.<br />
            Pastries and drinks will also be available.
        </div>
    </div>
    <div class="box" style="width: 710px;">
        <div class="centertext">
            Follow us on Facebook!
            <div style="font-size: 8px; padding-left: 10px">
                <a href="http://www.facebook.com/pages/A-Taste-of-Orthodoxy-Not-your-typical-Greek-Festival/135109738168">A Taste of Orthodoxy - Not your typical Greek Festival</a> on Facebook
            </div>
        </div>

        <script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
        <script type="text/javascript">FB.init("4ba7bea6cc2a384ae35a6daf1ca19036");</script>
        <fb:fan profile_id="135109738168" stream="0" connections="24" width="700"></fb:fan>

    </div>

</section>

