@{
	Layout = "~/_TOOLayout.cshtml";
	Page.Title = "Food Menu";
}

<section class="content">
    <div class="box">
        <div class="centertext">
	    Presenting the menu for this year's Taste of Orthodoxy.<br />
		We <em>may </em>have some additional menu items, and pricing <em>may</em> change.<br />
		1 Ticket = $1.00<br />
		Unused tickets <strong><em>can</em></strong> be returned for cash.&nbsp; <em><br />(But you'll
			want to take some pastries home instead!)</em><br />
            </div>
		</div>
    <br />
	<table>
		<colgroup>
			<col style="width: 168px" />
			<col />
			<col class="pricecol"/>
		</colgroup>
		<tr>
			<td style="width: 168px; height: 22px;"><strong>Combination Plates</strong></td>
			<td style="height: 22px"><strong>Description</strong></td>
			<td class="pricecol"><strong>Price</strong></td>
		</tr>
		<tr>
			<td >Lamb Shank Combo</td>
			<td>Braised & marinated leg of lamb on the bone, served with spanakopita and a Greek salad.  OPA!</td>
			<td class="pricecol">13 Tickets</td>
		</tr>
		<tr>
			<td>Lamb Sandwich Plate</td>
			<td>Roasted lamb served on a hot pita, with spanakopita and Greek salad</td>
			<td class="pricecol">13 tickets</td>
		</tr>
		<tr>
			<td>Chicken Souvlaki Plate</td>
			<td>Chicken souvlaki, served on a hot pita, with spanakopita and Greek salad</td>
			<td class="pricecol">11 tickets</td>
		</tr>
		<tr>
			<td>Gyros Plate</td>
			<td>Gyros sandwich, served on a hot pita, with spanakopita and Greek salad</td>
			<td class="pricecol">11 tickets</td>
		</tr>
		<tr>
			<td>Veggie Combination Plate</td>
			<td>Falafel sandwich served in a pita pocket with tahini sauce and veggies. Served with a side of hummus and dolmathes/td>
			<td class="pricecol">11 tickets</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>A La Carte</strong></td>
			<td>
				<strong>Description</strong></td>
			<td class="pricecol">
				<strong>Price</strong></td>
		</tr>
		<tr>
			<td>Lamb Sandwich</td>
			<td>Roasted lamb on pita bread with red onion, tomato, and tzatziki sauce</td>
			<td class="pricecol">9 tickets</td>
		</tr>
		<tr>
			<td>Lamb Shank</td>
			<td>Braised & marinated leg of lamb on the bone</td>
			<td class="pricecol">9 tickets</td>
		</tr>
		<tr>
			<td>Chicken Souvlaki</td>
			<td>Marinated chicken on pita bread with red onion, tomato, and tzatziki sauce</td>
			<td class="pricecol">7 tickets</td>
		</tr>
		<tr>
			<td style="height: 43px; width: 168px;">Gyros Sandwich</td>
			<td style="height: 43px">Spicy gyros meat on pita bread with red onion, tomato, and tzatziki sauce</td>
			<td class="pricecol">7 tickets</td>
		</tr>
		<tr>
			<td>Falafel Sandwich</td>
			<td>Fried, spiced chickpea balls served in a pita pocket with tahini sauce and veggies</td>
			<td class="pricecol">7 tickets</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Side Dishes</strong></td>
			<td><strong>Description</strong></td>
			<td class="pricecol"><strong>Price</strong></td>
		</tr>
		<tr>
			<td>Tiropita</td>
			<td>Two pieces of layered phyllo dough with an egg and cheese filling and baked</td>
			<td class="pricecol">3 tickets</td>
		</tr>
		<tr>
			<td>Saganaki</td>
			<td>Flaming Cheese doused with Lemon - Yum!</td>
			<td class="pricecol">5 tickets</td>
		</tr>
		<tr>
			<td>Spanakopita</td>
			<td>Two pieces of layered phyllo dough with a spinach, egg, and cheese filling and baked</td>
			<td class="pricecol">3 tickets</td>
		</tr>
		<tr>
			<td>Calamari</td>
			<td>Calamari dipped in our authentic seasoned batter and fried to golden perfection</td>
			<td class="pricecol">6 tickets</td>
		</tr>
		<tr>
			<td>Greek Salad</td>
			<td>Salad with feta cheese, Kalamata olives, olive oil dressing and pita bread</td>
			<td class="pricecol">4 tickets</td>
		</tr>
		<tr>
			<td>Greek Salad with Chicken</td>
			<td>Salad with feta cheese, Kalamata olives, olive oil dressing and pita bread, topped with marinated Chicken</td>
			<td class="pricecol">6 tickets</td>
		</tr>
		<tr>
			<td>Greek Salad with Lamb</td>
			<td>Salad with feta cheese, Kalamata olives, olive oil dressing and pita bread topped with slow cooked lamb</td>
			<td class="pricecol">8 tickets</td>
		</tr>
		<tr>
			<td>Greek Fries</td>
			<td>Large-cut fried potatoes with Greek seasoning</td>
			<td class="pricecol">3 tickets</td>
		</tr>
		<tr>
			<td>Hummus and Pita Bread</td>
			<td>Authentic hummus with a piece of pita bread</td>
			<td class="pricecol">3 tickets</td>
		</tr>
		<tr>
			<td>Dolmathes</td>
			<td>Four stuffed grapevine leaves with rice and herbs (vegetarian)</td>
			<td class="pricecol">3 tickets</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Beverages</strong></td>
			<td>
				<strong>Description</strong></td>
			<td class="pricecol">
				<strong>Price</strong></td>
		</tr>
		<tr>
			<td>
				<a href="http://www.boulderbeer.com" target="_blank">Boulder Beer</a></td>
			<td>A variety of our favorite hometown brews!  Buffalo Gold (Golden Ale), Singletrack Copper Ale, Hazed and Infused, and Planet Porter.  Yum!</td>
			<td class="pricecol">5 tickets</td>
		</tr>
		<tr>
			<td>Greek Wine</td>
			<td>A selection of Red, White and Retsina</td>
			<td class="pricecol">5 tickets</td>
		</tr>
		<tr>
			<td>Soda</td>
			<td>Variety of Coke products</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Bottled Water</td>
			<td>Bottled Eldorado Springs Water</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Greek Coffee</td>
			<td>Strong, flavorful coffee with grounds</td>
			<td class="pricecol">2 tickets</td>
		</tr>
		<tr>
			<td>Frappe</td>
			<td>Iced coffee drink - Greek Style!</td>
			<td class="pricecol">4 Tickets</td>
		</tr>
		<tr>
			<td>Regular Coffee</td>
			<td>Invented by Greeks! (probably)</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Authentic Pastries</strong></td>
			<td><strong>Description</strong></td>
			<td class="pricecol"><strong>Price</strong></td>
		</tr>
		<tr>
			<td>Baklava</td>
			<td>Layered phyllo dough with chopped walnuts, honey, and spices</td>
			<td class="pricecol">2 tickets</td>
		</tr>
		<tr>
			<td>Chocolate Baklava</a></td>
			<td>Baklava with in dark Chocolate inside!.  Oh yeah!</td>
			<td class="pricecol">One for 3 tix</td>
		</tr>
		<tr>
			<td>Homemade Greek Frozen Yoghurt</td>
			<td></td>
			<td class="pricecol">2 ticket</td>
		</tr>
		<tr>
			<td>Homemade Greek Frozen Yoghurt with Baklava</td>
			<td></td>
			<td class="pricecol">3 ticket</td>
		</tr>

		<tr>
			<td>Koko Kamati</td>
			<td>Greek Chocolate Chip Cookie!</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Koulourakia</td>
			<td>Shortbread cookies</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Kourabiethes</td>
			<td>Butter cookies topped with powdered sugar</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Loukoumades</td>
			<td>Doughnut Holes, Greek Style!</td>
			<td class="pricecol">4 tickets</td>
		</tr>
		<tr>
			<td>Melomacarona</td>
			<td>Honey & Walnut Cookie</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Ouzo Cake</td>
			<td>Ouzo flavored cake - a Taste of Orthodoxy Exclusive!</td>
			<td class="pricecol">2 tickets</td>
		</tr>
		<tr>
			<td>Paximathia</td>
			<td>Cinnamon/brown sugar biscotti</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Guraybeh</td>
			<td>Arabic butter cookies</td>
			<td class="pricecol">1 ticket</td>
		</tr>
		<tr>
			<td>Pastry Combo</td>
			<td>Variety of Mediterranean cookies</td>
			<td class="pricecol">10 tickets</td>
		</tr>
	</table>

</section>

