@{
    Layout = "~/_TOOLayout.cshtml";
    Page.Title = "Map";
}


<section class="content">
    <span style="font-family: Trebuchet MS">
    Sts. Peter and Paul Greek Orthodox Church<br />
    is located 1/2 mile east of Hwy 119
    <br />
    (Foothills Parkway) on Jay Road.<br />
    <br />
    </span>
    <strong><span style="font-family: Trebuchet MS">From Denver:<br />
    </span>
    </strong>
    <table id="maneuvers" border="2" cellpadding="0" cellspacing="0" style="font-family: Trebuchet MS" bordercolor="lightgrey" bordercolordark="darkgray" bordercolorlight="gainsboro">
        <tr>
            <td class="num" style="width: 12px">
                1:</td>
            <td style="text-align: left">
                <img src="http://mqsigns.aolcdn.com/?s=rs&t=RS00002BW&n=36&d=WEST&v=" alt="West HWY-36" />
            </td>
            <td style="text-align: left">
                &nbsp;Merge onto US-36 W via EXIT 217 on the LEFT toward WESTMINSTER / BOULDER.</td>
            <td class="nowrap" style="text-align: left">
                &nbsp;for 18 miles</td>
        </tr>
        <tr>
            <td id="mmaprow4" class="manmap" colspan="4">
                <img id="mmIMG4" height="0" name="mmIMG4" src="http://img.mqcdn.com/mq/space_white"
                    style="display: none" width="0" /></td>
        </tr>
        <tr class="bgc">
            <td class="num" style="width: 12px">
                2:</td>
            <td style="text-align: left">
                <img src="http://mqsigns.aolcdn.com/?s=rs&t=RS00003BW&n=157&d=NORTH&v=" alt="Northbound HWY-157" /></td>
            <td style="text-align: left">
                &nbsp;Merge onto FOOTHILLS PKWY / CO-157 N toward C U STADIUM.</td>
            <td class="nowrap" style="text-align: left">
                for 5 miles</td>
        </tr>
        <tr class="bgc">
            <td id="mmaprow5" class="manmap" colspan="4">
                <img id="mmIMG5" height="0" name="mmIMG5" src="http://img.mqcdn.com/mq/space_white"
                    style="display: none" width="0" /></td>
        </tr>
        <tr>
            <td class="num" style="width: 12px; height: 32px;">
                3:</td>
            <td style="height: 32px; text-align: left">
                <img src="http://mqsigns.aolcdn.com/?s=rs&t=RS00003BW&n=119&d=NORTH&v=" alt="Northbound HWY-119" /></td>
            <td style="height: 32px; text-align: left">
                &nbsp;FOOTHILLS PKWY / CO-157 N becomes CO-119 N / DIAGONAL HWY.</td>
            <td class="nowrap" style="height: 32px; text-align: left">
                for 1/4 mile</td>
        </tr>
        <tr>
            <td id="mmaprow6" class="manmap" colspan="4">
                <img id="mmIMG6" height="0" name="mmIMG6" src="http://img.mqcdn.com/mq/space_white"
                    style="display: none" width="0" /></td>
        </tr>
        <tr class="bgc">
            <td class="num" style="width: 12px">
                4:</td>
            <td style="text-align: left">
                <img border="0" height="32" src="http://img.mqcdn.com/mqsite/rs_slight_right" width="32" alt="Turn slightly right" /></td>
            <td style="text-align: left">
                &nbsp;Turn SLIGHT RIGHT onto JAY RD / CR-44.</td>
            <td class="nowrap" style="text-align: left">
                1/2 mile</td>
        </tr>
        <tr class="bgc">
            <td id="mmaprow7" class="manmap" colspan="4">
                <img id="mmIMG7" height="0" name="mmIMG7" src="http://img.mqcdn.com/mq/space_white"
                    style="display: none" width="0" /></td>
        </tr>
        <tr>
            <td class="num" style="width: 12px">
                5:</td>
            <td colspan="1" style="text-align: left">
                <img border="0" height="17" src="http://img.mqcdn.com/mqsite/icon-dirs-end" width="32" alt="End" /></td>
            <td colspan="2" style="text-align: left">
                &nbsp;at <b>Saints Peter and Paul Greek Orthodox Church</b></td>
        </tr>
    </table>
    <br />
    <br />
    <div id="ctl00_phMain_Panel1" style="border-width:1px;border-style:Solid;height:450px;width:600px;">
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;safe=off&amp;q=site:stspeterandpaulboulder.org+sts+peter+and+paul+orthodox+church+boulder&amp;ie=UTF8&amp;hq=site:stspeterandpaulboulder.org+sts+peter+and+paul+orthodox+church&amp;hnear=Boulder,+Colorado&amp;t=h&amp;ll=40.051022,-105.222384&amp;spn=0.002787,0.003433&amp;z=18&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;q=site:stspeterandpaulboulder.org+sts+peter+and+paul+orthodox+church+boulder&amp;ie=UTF8&amp;hq=site:stspeterandpaulboulder.org+sts+peter+and+paul+orthodox+church&amp;hnear=Boulder,+Colorado&amp;t=h&amp;ll=40.051022,-105.222384&amp;spn=0.002787,0.003433&amp;z=18&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        
</div>

    
</section>

