@{
    Layout = "~/_TOOLayout.cshtml";
    Page.Title = "Events";
}


<section class="content">
    <div style="text-indent:85px;"><h2>Schedule of Events</h2></div>
   
    <table>
        <tr>
            <td colspan="3" style="font-size:x-large; text-align:center;"><strong>Friday</strong></td>
        </tr>
        <tr>
            <td>Time</td>
            <td>Event</td>
            <td>Location</td>
        </tr>
        <tr>
            <td>11:00am</td>
            <td>Blessing Service</td>
            <td>Church</td>
        </tr>
        <tr>
            <td class="RedOnYellow">11:00am</td>
            <td class="RedOnYellow">Open for Lunch!</td>
            <td class="RedOnYellow">Church</td>
        </tr>
        <tr>
            <td>5:00pm</td>
            <td>Live music starts with <a href="http://www.jessemanno.com/" target="_blank">Jesse Manno and Friends</a></td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>6:30pm</td>
            <td>Fotismeni&nbsp;</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>7:00pm</td>
            <td>Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>8:00pm</td>
            <td>Fotismeni - Taverna Show</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>9:00pm</td>
            <td>Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
        </table>
    <br />
        <table>
        <tr>
            <td colspan="3" style="font-size:x-large; text-align:center;">
                <strong>Saturday</strong>
            </td>
        </tr>
        <tr>
            <td>Time</td>
            <td>Event</td>
            <td>Location</td>
        </tr>
        <tr>
            <td>11:00am</td>
            <td>Taste of Orthodoxy opens!</td>
            <td></td>
        </tr>
        <tr>
            <td>11:00am - 2:00pm</td>
            <td>Boulder Rural Fire Truck - tour and hats for the kids</td>
            <td>Parking Lot</td>
        </tr>
        <tr>
            <td>12:30pm</td>
            <td>Fotismeni</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>1:30pm</td>
            <td>Byzantine Choir</td>
            <td>Church</td>
        </tr>
        <tr>
            <td>2:00pm</td>
            <td><i>What is Orthodox Christianity</i> &amp; informal Q&amp;A</td>
            <td>Church</td>
        </tr>
        <tr>
            <td>3:30pm</td>
            <td>Byzantine Iconography Presentation</td>
            <td>Church</td>
        </tr>
        <tr>
            <td>4:00pm</td>
            <td>Byzantine Choir chants Vespers Service w/informal Q&A after</td>
            <td>Church</td>
        </tr>
            <tr>
                <td>4:30pm</td>
                <td>Doina - Romanian choir group</td>
                <td>Church</td>
            </tr>
        <tr>
            <td>5:00pm</td>
            <td>Live Music: Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>6:00pm</td>
            <td>Kleftes Dance Group</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>6:30pm</td>
            <td>Fotismeni</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>7:00pm</td>
            <td>Live Music: Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
         <tr>
            <td>8:00pm</td>
            <td>Kleftes Dance Group Night Show</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>8:30pm</td>
            <td>Fotismeni&nbsp;- Taverna Show</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>9:00pm</td>
            <td>Live Music: Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
        </table>
        <br />
        <table>
    
        <tr>
            <td colspan="3" style="font-size:x-large; text-align:center;">
                <strong>Sunday</strong>
            </td>
        </tr>
        <tr>
            <td>8:00am</td>
            <td>Orthros - Morning Prayers - Public Welcome!</td>
            <td></td>
        </tr>
        <tr>
            <td>9:00am</td>
            <td>Divine Liturgy - Public Welcome!</td>
            <td>Church</td>
        </tr>
        <tr>
            <td>11:00am</td>
            <td>Taste of Othodoxy Opens!</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>12:00pm</td>
            <td>Fotismeni</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>12:00pm</td>
            <td>Local artist/iconographer Ileana Barbu will be having an iconography presentation and demonstration</td>
            <td>Church</td>
        </tr>

        <tr>
            <td>12:30pm</td>
            <td>Live Music: Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>1:30pm</td>
            <td>Byzantine Choir performance</td>
            <td>Church</td>
        </tr>
        <tr>
            <td>2:00pm</td>
            <td>What is Orthodox Christianity? w/Informal Q &amp A</td>
            <td>Church</td>
        </tr>
        <tr>
            <td>3:00pm</td>
            <td>Fotismeni</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>3:30pm</td>
            <td>Dance Performance: Fotia</td>
            <td>Stage</td>
        </tr>

        <tr>
            <td>4:00pm</td>
            <td>Live Music: Jesse Manno and Friends</td>
            <td>Stage</td>
        </tr>
        <tr>
            <td>6:00pm</td>
            <td>Taste of Orthodoxy closes</td>
            <td></td>
        </tr>


    </table>


</section>

