@{
    Layout = "~/_TOOLayout.cshtml";
    Page.Title = "Our Sponsors";
}


<section class="content">

    <strong>
        A huge thanks to our sponsors.&nbsp;
        Thank you for supporting our Church!<br />
    </strong>
    <br />
    <div>
        <table style="opacity:.9; background-color:#fff;">
            <tr>
                <td style="border-style:none;">
                   <a style="border-style:none;" target="_blank" href="http://www.boulderbeer.com">
                        <img style="border-style:none;" src="Images/Boulder_beer_oval_logo_small.gif" alt="Boulder Beer" /><br />
                    </a></td>
                <td style="text-align:center;">
                    <b>Dino Chioros<br />
                       Sparta Foods<br />
                       (303) 588-9847</b></td>
                <td>
                    <a target="_blank" href="http://www.azarswoodcraft.com/">
                        <img style="border-style:none;" alt="Azar's Woodcraft" src="Images/AzarsWoodcraft.jpg" /></a></td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <strong>Greek Economy <br />Market &amp; Deli</strong>
                    <br />
                    717 Lipan Street<br />
                    Denver, CO 80204
                    <br />
                    <b>303-861-3002</b><br />
                </td>
                <td style="text-align:center;">
                    <b>Gunbarrel Shortstop<br />Conoco Station</b></td>
                <td style="text-align:center;">
                    <a href="http://boulder.citysearch.com/profile/1872157/boulder_co/north_boulder_liquor.html"
                        target="_blank"><b>North Boulder Liquor</b></a><b><br />
                                3990 N. Broadway<br />Boulder 80304</b></td>
            </tr>
        </table>
    </div>
</section>

